*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgba(33, 31, 31, 0.91);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin-right:10px ;
    padding-right: 7px;
    font-size: 18px;
    cursor:grab;
}
.item:hover{
    color: blueviolet;
}
.banner-img{
    width: 300px;
    
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("./images/background.png"),
    linear-gradient(45deg,#000,#000000c8);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 2px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-title{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 5px 5px 50px rgb(75, 74, 74);
    background-color: black;
    text-align: center;
    padding: 15px;
    color:white;
    border-radius: 10px;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding: 5px;
}
.service-container{
    display: flex;
    /* padding: 10px; */
    /* width: 100px; */
    justify-content: space-around;
    padding: 20px;


}
.back{
    background-color: #000;
}